<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.bytechat.demo">

    <permission
        android:name="io.bytechat.demo.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" /> <!-- Required -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="io.bytechat.demo.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="31"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo"
        android:usesCleartextTraffic="true">
        <service
            android:name=".XService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
<!-- Required For Rich Media Push Notification-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle"
            tools:node="replace">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="cn.jpush.android.ui.PopWinActivity" />

                <category android:name="io.bytechat.demo" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>

                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />

                <category android:name="io.bytechat.demo" />
            </intent-filter>
        </receiver>

        <activity
            android:name="cn.jpush.android.service.JNotifyActivity"
            android:exported="true"
            android:taskAffinity="jpush.custom"
            android:theme="@style/JPushTheme">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- Required SDK核心功能 since 4.2.2 -->
                <category android:name="io.bytechat.demo" />
            </intent-filter>
        </activity>
<!--        Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" /> <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="a676f3b65397032df42453be" />

        <activity
            android:name=".oldrelease.ui.search.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.AboutUsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.AccountSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.MyInformationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldrelease.ui.main.ScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldrelease.ui.main.MyQRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldrelease.ui.main.MyIDCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldrelease.ui.main.JoinGroupOptionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldrelease.ui.main.AddFriendOptionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldrelease.ui.login.SupplementInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldrelease.ui.login.VerificationCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldrelease.ui.search.SendVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldrelease.ui.search.PersonDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldrelease.ui.search.SearchConversActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldrelease.ui.search.AddConversActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldrelease.ui.search.GlobalSearchActivity"
            android:exported="false" />
        <activity
            android:name=".oldrelease.ui.login.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldrelease.ui.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldrelease.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldrelease.ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>
