<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.openim.android.ouicontact">

    <application>
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.FriendRequestDetailActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.newfriends.NewFriendActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.newgroups.NewGroupActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.MyFriendsActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.mygroups.MyGroupsActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.TagsActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.NewTagActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.GroupNoticeListActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.GroupNoticeDetailActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.AddActivity"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".DebugActivity"
            android:exported="true" />
    </application>

</manifest>
